<form>
  <div>
    <label for="username" class="item item-input">
      username:
      <input type="text" name="username" value="" placeholder="input username">
    </label>
  </div>
  <div>
    <label for="password" class="item item-input">
      password:
      <input type="password" name="password" value="" placeholder="input password">
    </label>
  </div>
  <div class="btns">
    <button class="button button-calm">
      sign in
    </button>
    <button class="button button-positive">
      sign up
    </button>
  </div>
</form>
