<ion-view view-title="Sportman">

  <ion-nav-buttons side="right">
    <a nav-direction="forward">
      <img ng-src="img/social_camera.png" alt="" class="custom-nav-button-img" ng-click="toPublish()" on-hold="toPublishWithImg()">
    </a>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-text="下拉刷新" on-refresh="refreshNewData()"></ion-refresher>

    <div class="socialbg-wrapper">
      <img ng-src="{{socialbg}}" alt="" class="socialbg">
      <div class="user-avatar position-absolute flex-box">
        <img ng-src="{{avatar}}" alt="" ng-click="viewMy($event)">
        <span>Ninnka</span>
      </div>

    </div>

    <ul class="social-list">

      <li class="social-item flex-box" ng-repeat="socialcircle in socialcircleList track by $index" ng-click="viewDetail($event, socialcircle.id)">
        <img ng-src="{{socialcircle.avatar}}" alt="" class="social-avatar">
        <div class="social-content-wrapper">
          <div class="social-name-locate flex-box">
            <span>{{socialcircle.uname}}</span>
            <i class="icon icon-diqiu icon-with-text icon-tool">
              <span>{{socialcircle.locate}}</span>
            </i>
          </div>

          <p class="social-publishtime">{{socialcircle.timestamp | date : 'HH:mm - yyyy年MM月dd日'}}</p>
          <p class="social-publishtext">
            {{socialcircle.publish}}
          </p>

          <div class="social-imglist flex-box">
            <img ng-src="{{imgPrefix}}{{image.imgsrc}}" alt="" ng-repeat="image in socialcircle.images track by $index">

          </div>

          <div class="social-tools flex-box">
            <i class="icon icon-huifu icon-with-text icon-tool" ng-click="replyShortcut($event, {'id': socialcircle.id, 'name': socialcircle.name, 'avatar': socialcircle.avatar, 'locate': socialcircle.locate, 'timestamp': socialcircle.timestamp})">
              <span>{{socialcircle.commentcount}}</span>
            </i>
            <i class="icon icon-xihuan icon-with-text icon-tool" ng-class="!!socialcircle.isLike ? 'active' : ''" ng-click="toggleLike($event, socialcircle.id, socialcircle.isLike)">
              <span>{{socialcircle.likecount}}</span>
            </i>
            <i class="icon icon-shenglve icon-with-text icon-tool"></i>
          </div>
        </div>
      </li>

    </ul>

    <ion-infinite-scroll ng-if="loadMoreSymbol" on-infinite="loadMoreData()" distance="2%" immediate-check="false"></ion-infinite-scroll>

    <!-- <transclude-directive>
      <div class="card">
        <div class="item item-divider">
          卡片头部！
        </div>
        <div class="item item-text-wrap">
          基本卡片，包含了文本信息。
        </div>
        <div class="item item-divider">
          卡片底部！
        </div>
      </div>

    </transclude-directive>

    <transclude-directive>
      <div class="card">
        <div class="item item-divider">
          卡片头部！
        </div>
        <div class="item item-text-wrap">
          基本卡片，包含了文本信息。
        </div>
        <div class="item item-divider">
          卡片底部！
        </div>
      </div>

    </transclude-directive> -->

  </ion-content>

  <script id="social-reply-shortcut.html" type="text/ng-template">
    <div class="modal">

      <ion-header-bar class="bar-secondary">

        <h1 class="title white-text">快速回复</h1>
        <button class="button button-clear button-assertive white-text" ng-click="closeShortcut()">Cancel</button>
        <!--<button class="button button-small button-positive" ng-click="submitReplyInShortcut($event)">发送</button>-->

      </ion-header-bar>

      <ion-content>
        <div class="reply-shortcut-wrap">
          <textarea class="" placeholder="说点什么吧..." ng-model="currentReplyTarget.comment"></textarea>
          <div class="reply-operator flex-box">
            <button class="button button-assertive" ng-click="resetReplyInShortcut()">重置</button>
            <button class="button button-positive" ng-click="submitReplyInShortcut()">发送</button>
          </div>
        </div>

      </ion-content>

    </div>

  </script>

</ion-view>