<ion-view view-title="Sportman">

  <ion-nav-buttons side="right">
    <a nav-direction="forward" ng-href="#/search/activity">
      <img ng-src="img/social_camera.png" alt="" class="custom-nav-button-img">
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div class="socialbg-wrapper">
      <img src="http://ok7pzw2ak.bkt.clouddn.com/user_social_bg.png" alt="" class="socialbg">
      <div class="user-avatar position-absolute flex-box">
        <img src="//v2ex.assets.uxengine.net/gravatar/314258679ae304a33da79c7534a34657?s=73&d=retro" alt="">
        <span>Ninnka</span>
      </div>

    </div>

    <ul class="social-list">

      <li class="social-item">

      </li>

    </ul>

    <!-- <transclude-directive>
      <div class="card">
        <div class="item item-divider">
          卡片头部！
        </div>
        <div class="item item-text-wrap">
          基本卡片，包含了文本信息。
        </div>
        <div class="item item-divider">
          卡片底部！
        </div>
      </div>

    </transclude-directive>

    <transclude-directive>
      <div class="card">
        <div class="item item-divider">
          卡片头部！
        </div>
        <div class="item item-text-wrap">
          基本卡片，包含了文本信息。
        </div>
        <div class="item item-divider">
          卡片底部！
        </div>
      </div>

    </transclude-directive> -->

  </ion-content>

</ion-view>
