<ion-view view-title="我的">

  <ion-nav-buttons side="right">
    <a class="my-content-setting" nav-direction="forward" ng-click="checkSignSymbolAndState('appsetting')">
      <img ng-src="img/setting.png" alt="" class="my-setting-img">
    </a>
  </ion-nav-buttons>

  <ion-content class="">

    <div form-directive ng-if="my.form"></div>
    <div my-content-directive um="{{uil.um}}" sportmanid="{{uil.sportmanid}}" avatar="{{uil.avatar}}" ng-if="my.content"></div>

  </ion-content>

  <script id="my-signup-modal.html" type="text/ng-template">
    <div class="modal">

      <ion-header-bar class="bar-secondary">

        <h1 class="title white-text">欢迎注册</h1>
        <button class="button button-clear button-assertive white-text" ng-click="closeSignUpModal()">Cancel</button>

      </ion-header-bar>

      <ion-content>

        <form ng-submit="signupSubmit()">

          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="用户名" ng-model="signupInfo.usrname">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="密码" ng-model="signupInfo.usrpassword">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive">注册</button>
          </div>

        </form>

      </ion-content>

    </div>

  </script>

</ion-view>
