<ion-view view-title="Sportman">

  <ion-nav-buttons side="left">
    <img ng-src="img/locate.png" alt="" class="custom-nav-button-img" ng-click="openLocate()">
    <span class="locate-text">广州</span>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a nav-direction="forward" ng-href="#/search/activity">
      <img ng-src="img/search.png" alt="" class="custom-nav-button-img">
    </a>
  </ion-nav-buttons>

  <ion-content delegate-handle="activity_home-scroller">
    <ion-slide-box class="slide-box" on-slide-changed="slideHasChanged($index)" does-continue="true" slide-interval="2000" auto-play="true">
      <ion-slide ng-repeat="bannerItem in bannerList">
        <a ng-click="toDetail(bannerItem.id_activity)">
          <img ng-src="{{bannerItem.post}}" alt="">
        </a>
      </ion-slide>
    </ion-slide-box>

    <div class="horizon-grid">
      <div>
        <img ng-src="img/hot.png" alt="" class="vertical-text-left-img">
        <div class="vertical-text-main-sub">
          <p>人气活动</p>
          <p>看看大家都在玩什么</p>
        </div>
      </div>
      <div>
        <img ng-src="img/recommend.png" alt="" class="vertical-text-left-img">
        <div class="vertical-text-main-sub">
          <p>活动推荐</p>
          <p>你想要的的都在这里</p>
        </div>
      </div>
    </div>

    <ul class="stream-list">
      <activity ng-repeat="activity in activityList track by $index" ng-click="toDetail(activity.id)"></activity>
    </ul>

    <ion-infinite-scroll ng-if="loadMoreSymbol" on-infinite="loadMoreData()" distance="1%" immediate-check="false"></ion-infinite-scroll>

  </ion-content>
</ion-view>
