<ion-view view-title="我的">

  <ion-nav-buttons side="right">
    <a class="my-content-setting" nav-direction="forward" ng-click="checkSignSymbolAndState('appsetting')">
      <img ng-src="img/setting.png" alt="" class="my-setting-img">
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div class="my-content-wrapper">

      <div class="my-content-signinup-form" ng-if="my.form">
        <a ng-href="#/signinup" nav-direction="forward">
          <button type="button" name="button" class="button button-positive">登录/注册</button>
        </a>

      </div>

      <div class="my-content-user-presentation" ng-if="my.content">
        <a ng-href="#/usr/detail" nav-direction="forward">
          <img class="content-avatar" ng-src="{{uil.avatar}}">

          <div class="content-userinfo">
            <p class="content-userinfo-name">{{uilum}}</p>
            <p class="content-userinfo-id">sportman ID: {{uli.sportmanid}}</p>
          </div>

          <div class="ion-chevron-right more-arrow-right"></div>
        </a>
      </div>

      <div class="my-content-user-collections">

        <div class="user-collections collections-activities">
          <img ng-src="img/activity.png" alt="">
          <p class="collections-title">我的活动</p>
        </div>

        <div class="user-collections collections-books">
          <img ng-src="img/stadium.png" alt="">
          <p class="collections-title">我的场馆</p>
        </div>

        <div class="user-collections collections-collects">
          <img ng-src="img/collect.png" alt="">
          <p class="collections-title">我的收藏</p>
        </div>

      </div>

      <ul class="list">

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working ion-color-fade ion-ajust-symbolsize"></i> 我的评价
          <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-image ion-color-fade ion-ajust-symbolsize"></i> 我的相册
          <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-clock ion-color-fade ion-ajust-symbolsize" data-tags="time, watch, hours, minutes, seconds"></i> 浏览历史
          <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
        </a>

      </ul>

    </div>

  </ion-content>
</ion-view>
