<ion-view view="查看详情">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>
    <ul class="social-list">

      <li class="social-item flex-box">
        <img src="//v2ex.assets.uxengine.net/gravatar/314258679ae304a33da79c7534a34657?s=73&d=retro" alt="" class="social-avatar">
        <div class="social-content-wrapper">
          <div class="social-name-locate flex-box">
            <span>ninnka</span>
            <span>中国·深圳</span>
          </div>

          <p class="social-publishtime">下午15:00 - 2017年2月25日</p>
          <p class="social-publishtext">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ellit anim id est laborum. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud ellit anim id est laborum.
          </p>

          <div class="social-imglist flex-box">
            <img src="img/social-imglist-1.png" alt="">
            <img src="img/social-imglist-1.png" alt="">
            <img src="img/social-imglist-1.png" alt="">
            <img src="img/social-imglist-1.png" alt="">
          </div>

          <div class="social-tools flex-box">
            <i class="icon icon-huifu icon-with-text icon-tool">
              <span>11</span>
            </i>
            <i class="icon icon-xihuan icon-with-text icon-tool" ng-class="isLike ? 'active' : ''">
              <span>99</span>
            </i>
            <i class="icon icon-shenglve icon-with-text icon-tool"></i>
          </div>
        </div>
      </li>

    </ul>
  </ion-content>

  <div class="social-reply-inputwrapper">

  </div>

</ion-view>
