$white: #fff;
$darkmask: rgba(30, 30, 30, .5);
$deeptext: #232323;
$subtext: #555;
$textaftermain: #666;
$descibetext: #333;
$positive: #1212aa;
$linetransparent: rgba(150, 150, 150, .5);
$warmnotifi: #fdfda6;
$assertive: #ef473a;
$mainTheme: #fb8041;
$mainThemeTransparent: rgab(251,128,65,0.5);
$mainBackground: #f5f5f5;

.item {
  font-size: .256rem;

  p {
    font-size: .256rem;
  }
}

button,
input,
label,
select,
textarea {
  font-size: .22rem;
}

.icon-note-rem {
  font-size: .256rem;
}

.tabs {
  height: .84rem;
}

.tab-item .icon {
  font-size: .4rem;
  height: .51rem;
  padding-top: .15rem;
}

.tabs-icon-bottom > .tabs .tab-item,
.tabs-icon-bottom.tabs .tab-item,
.tabs-icon-top > .tabs .tab-item,
.tabs-icon-top.tabs .tab-item {
  font-size: .16rem;
}

.button {
  padding: 0 .192rem;
  min-width: .832rem;
  min-height: .752rem;
  border-radius: .064rem;
  font-size: .256rem;
  line-height: .672rem;
}

.scroll-content {
  background: $mainBackground;
}

.content-fix {
  position: fixed;
  z-index: 3;
}

.fix-bottom {
  bottom: 0;
  left: 0;
}

.item-block {
  width: 100%;
}

.item-block.item-custom-padding {
  padding: .256rem;
  font-size: .256rem;
}

.background-white {
  background: $white;
}

.with-bottom-fix-item-block {
  margin-bottom: .768rem;
}

.content-notifi {
  background: $warmnotifi;
  display: inline-block;
  padding: 10px 0;
  width: 100%;

  > .text-left {
    vertical-align: middle;
  }

  > .right-icon {
    float: right;
    margin-right: .2rem;
    margin-top: .05rem;
    max-width: .256rem;
    vertical-align: middle;
  }
}

.text-align-left.icon-right {
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre;
  width: 100%;

  > span {
    vertical-align: middle;
  }
}

.img-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.2rem;
  width: 100%;
}

.img-with-float-text {
  position: relative;

  > .float-text-wrapper {
    background-color: rgba(30,30,30,.5);
    bottom: 0;
    height: 1.3rem;
    left: 0;
    padding: .1rem .2rem .2rem;
    position: absolute;
    text-align: left;
    width: 100%;

    > img {
      max-height: 100%;
      vertical-align: top;
    }

    > .float-text {
      color: $white;
      display: inline-block;
      margin-left: .3rem;
      vertical-align: middle;

      p {
        margin: 0 0 .064rem;
      }

      p:nth-child(1) {
        font-size: .256rem;
      }

      p:nth-child(2) {
        font-size: .22rem;
      }
    }
  }
}

.text-with-rightblock {
  align-items: center;
  background: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  > div {
    flex-grow: 1;
    flex-shrink: 1;

    > p {
      font-size: .27rem;
      margin: 5px 0 5px .16rem;
      text-overflow: ellipsis;
      white-space: pre;
    }

    > p:nth-child(1) {
      font-size: .28rem;
      color: $deeptext;
    }

    > p:nth-child(2) {
      font-size: .24rem;
      color: $subtext;
    }

  }

  > button,
  a {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: .2rem;
  }

  img.icon-custom {
    border-left: 1px solid $linetransparent;
    box-sizing: border-box;
    flex-shrink: 1;
    max-width: .65rem;
    padding: 10px 0 10px .192rem;
  }

  img.img-right {
    max-width: 1.0rem;
  }
}
@mixin text-abvious {
  text-align: center;
  font-size: .22rem;
  color: $positive;
}

.content-wrapper {
  > .item-divider {
    font-size: .28rem;
    background: #fcfcfc;
  }

  > .item-text-wrap {
    p {
      color: $descibetext;
      white-space: normal;
      word-break: break-all;
      word-wrap: break-word;
    }

    > p.text-abvious:last-child {
      @include text-abvious;
      margin: 10px 0 4px;
    }

    > .long-text {
      color: $deeptext;
      text-align: left;
    }
  }
}

.text-abvious {
  @include text-abvious;
}

.with-absolute-ele {
  position: relative;
}

.absolute-img {
  position: absolute;
}

.absolute-right {
  right: 0;
  top: 0;
}

.investigating-notifi {
  max-width: .75rem;
}

p.assertive {
  color: $assertive !important;
}

.item {
  padding: .256rem;

  .button-right {
    text-align: right;
  }

  > a {
    text-decoration: none;
  }
}

.item-icon-right {
  padding-right: .864rem;
}

.item-icon-left {
  padding-left: .864rem;
}

.item-text-main.with-left-img {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  > img {
    width: .35rem;
    margin-right: .2rem;
  }
}

.flexbox {
  display: flex;
}

.item {
  .text-main-notifi {
    font-size: .29rem;

    + .text-aftermain {
      color: $textaftermain;
      font-size: .22rem;
    }
  }

  .text-sub {
    color: $subtext;
    font-size: .24rem;
  }

}

.item.with-right-icon {

  position: relative;

  > img.right-icon {
    position: absolute;
    right: .3rem;
    top: 50%;
    margin-top: -0.1rem;
    max-width: .2rem;
    max-height: .2rem;
    width: 5%;
  }
}

.margin-top-border {
  margin-top: 2px;
}

.with-block-absolute {
  position: relative;
}

.flex-use-wrap {
  flex-wrap: wrap;
}

.block-absolute {
  position: absolute;

  > li {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: .27rem;
  }
}

.fullwidth {
  width: 100%;
}

.right-block {
  right: .2rem;
  top: .545rem;
  margin-top: -0.32rem;
}

.list-no-margin {
  margin: 0;
}

.item-no-padding {
  padding: 0;
}

.stream-list {
  a.item-index {
    font-size: .256rem;
    background: #DADADA;
    line-height: 1.5;
    padding-left: .1rem;
  }

  li.item-subindex {
    line-height: 2.2;
    font-size: .29rem;
    text-indent: .08rem;
    padding-left: .18rem;
  }
}

.flex-use-col-direction {
  flex-direction: column;
}

.city-selector-wrapper {
  width: .28rem;
  z-index: 5;
  height: 100%;

  background: rgba(230, 230, 230, .5);
  padding-top: 47px;

  &:active {
    background: $mainThemeTransparent;
  }
}

.city-selector-hint {
  z-index: 4;
  max-width: 32%;
  width: 1.28rem;
  min-height: 1.09rem;
  padding: .35rem .15rem;
  text-align: center;
  font-size: .45rem;
  color: $white;
  height: auto;
  display: inline-table;
  background: $darkmask;
}

.screen-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.searchbar-wrapper {}

.searchbar {
  display: inline-block !important;
  height: .48rem !important;
  vertical-align: middle !important;
}

.searchbtn {
  display: inline-block !important;
  margin-right: .1rem;
  vertical-align: middle;
  color: $white;
  height: auto;
  line-height: .54rem;
}

.header-item {
  font-size: .272rem !important;
}

.button.search-button {
  min-width: .6rem;
  min-height: .4rem;
  width: .8rem;
  height: .5rem;
  font-size: .22rem;
  line-height: .5rem;
  padding: 0 .1rem;
}

.item-input-wrapper {
  .item-input-block {
    width: 100%;
  }
}
