$white: #fff;
$darkmask: rgba(30, 30, 30, .5);
$deeptext: #232323;
$subtext: #555;
$descibetext: #333;
$positive: #1212aa;
$linetransparent: rgba(150, 150, 150, .5);
$warmnotifi: #fdfda6;

.content-fix {
  position: fixed;

  &.content-notifi {
    background: $warmnotifi;
    display: inline-block;
    padding: 10px 0;
    width: 100%;

    > .text-left {
      vertical-align: middle;
    }

    > .right-icon {
      float: right;
      margin-right: .2rem;
      margin-top: .05rem;
      max-width: .256rem;
      vertical-align: middle;
    }
  }
}

.text-align-left.icon-right {
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre;
  width: 100%;

  > span {
    vertical-align: middle;
  }
}

.img-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.2rem;
  width: 100%;
}

.img-with-float-text {
  position: relative;

  > .float-text-wrapper {
    background-color: $darkmask;
    bottom: 0;
    height: 1.1rem;
    left: 0;
    padding: .1rem .2rem;
    position: absolute;
    text-align: left;
    width: 100%;

    > img {
      max-height: 100%;
      vertical-align: middle;
    }

    > .float-text {
      color: $white;
      display: inline-block;
      margin-left: .3rem;
      vertical-align: middle;

      p:nth-child(1) {
        font-size: .256rem;
      }

      p:nth-child(2) {
        font-size: .22rem;
      }
    }
  }
}

.text-with-button {
  align-items: center;
  background: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  > div {
    flex-grow: 1;
    flex-shrink: 1;

    > p {
      font-size: .27rem;
      margin: 5px 0 5px .16rem;
      text-overflow: ellipsis;
      white-space: pre;
    }

    > p:nth-child(1) {
      font-size: .28rem;
      color: $deeptext;
    }

    > p:nth-child(2) {
      font-size: .24rem;
      color: $subtext;
    }

  }

  > button,
  a {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: .2rem;
  }

  > img.icon-custom {
    border-left: 1px solid $linetransparent;
    box-sizing: border-box;
    flex-shrink: 1;
    max-width: .65rem;
    padding: 10px 0 10px .192rem;
  }
}
@mixin text-abvious {
  text-align: center;
  font-size: .22rem;
  color: $positive;
}

.content-wrapper {
  > .item-divider {
    font-size: .28rem;
  }

  > .item-text-wrap {
    p {
      color: $descibetext;
      white-space: normal;
      word-break: break-all;
      word-wrap: break-word;
    }

    > p.text-abvious:last-child {
      @include text-abvious;
      margin: 10px 0 4px;
    }

    > .long-text {
      color: $deeptext;
      text-align: left;
    }
  }
}

.text-abvious {
  @include text-abvious;
}
