.socialbg-wrapper {
  font-size: 0;
  height: auto;
  max-height: 3.468rem;
  overflow: hidden;
  position: relative;

  .socialbg {
    max-width: 100%;
  }

  > .user-avatar {
    align-items: center;
    background: rgba(0,0,0,.5);
    bottom: 0;
    justify-content: flex-start;
    left: 0;
    padding: .1rem;
    width: 100%;

    > img {
      height: .9rem;
      margin-left: .1rem;
      width: .9rem;
    }

    > span {
      align-self: flex-end;
      color: white;
      font-size: .29rem;
      margin-bottom: .12rem;
      margin-left: .25rem;
    }
  }
}

.social-list {
  background: white;

  .social-item {
    align-items: flex-start;
    // border-bottom: 1px solid rgba(180, 180, 180, .7);
    box-shadow: 0 0 1px 0 rgba(180,180,180,.7);
    justify-content: flex-start;
    padding: .1rem;

    .social-avatar {
      border-radius: .05rem;
      flex-grow: 0;
      flex-shrink: 1;
      height: 1rem;
      width: 1rem;
    }
  }
}

.social-content-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: .2rem;

  .social-name-locate {
    align-items: center;
    justify-content: space-between;

    > span {
      flex-shrink: 1;

      &:nth-child(1) {
        font-size: .264rem;
        flex-grow: 1;
      }

      &:nth-child(2) {
        color: #555;
        font-size: .242rem;
        flex-grow: 0;
      }
    }

  }

  .social-publishtime {
    color: #666;
    font-size: .238rem;
    margin-bottom: 0;
  }

  .social-publishtext {
    color: #343434;
    font-size: .264rem;
    margin-top: .08rem;

  }

  .social-imglist {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    > img {
      height: 1.5rem;
      margin: 2%;
      width: 28%;
    }
  }

  .social-tools {
    align-items: center;
    justify-content: space-around;
    margin: 0 0 .7rem;

    > .icon-tool {
      color: #666;
      flex-grow: 0;
      flex-shrink: 1;
      height: 0;

      > span {
        font-size: .24rem;
        text-indent: .1rem;
      }

      &.active {
        color: red;
      }
    }
  }
}
