<ion-view view-title="关于">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <div class="img-with-description">
      <img ng-src="img/sportman.png" alt="">
      <p>Sportman</p>
    </div>

    <ul class="list">
      <li class="item item-wrap-a">
        <a ng-href="#">去平分</a>
      </li>
      <li class="item item-wrap-a">
        <a ng-href="#">用户协议</a>
      </li>
      <li class="item item-wrap-a">
        <a ng-click="checkVersion()">版本检查</a>
      </li>
      <li class="item item-wrap-a">
        <a>当前版本 1.0.0</a>
      </li>
    </ul>

  </ion-content>
</ion-view>
