<ion-view view-title="账户与安全">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/account-security/password" nav-direction="forward">
        <i class=""></i> 密码
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/account-security/link-mobile" nav-direction="forward">
        <i class=""></i> 手机号码
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

      <a class="item item-icon-right" ng-href="#/app/setting/account-security/email" nav-direction="forward">
        <i class=""></i> 邮箱
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/account-security/sportmanid" nav-direction="forward">
        <i class=""></i> Sportmanid
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

  </ion-content>
</ion-view>
