<ion-view>

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>
    <ion-tabs class="tabs-striped tabs-top tabs-color-assertive">

      <ion-tab title="活动新闻" href="#/app/setting/notification/activities">
        <ion-nav-view name="notification-activities"></ion-nav-view>
      </ion-tab>

      <ion-tab title="企业新闻" href="#/app/setting/notification/companies">
        <ion-nav-view name="notification-companies"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

    <!-- <ion-nav-view name="appsetting-notification-tab"></ion-nav-view> -->
    <!-- <div class="tabs-striped tabs-top tabs-color-assertive">
      <div class="tabs">

        <a class="tab-item active" ng-href="#/app/setting/notification/activities">
          活动新闻
          <ion-nav-view name="notification-activities"></ion-nav-view>
        </a>
        <a class="tab-item" ng-href="#/app/setting/notification/companies">
          企业新闻
        </a>
      </div>
    </div> -->

  </ion-content> -->
  <!-- </ion-view>
