<ion-view view-title="用户评价">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <div class="content-wrapper normal-light">
      <div class="theme-title horizon-img-list text-align-center">
        <span class="text-large">总体评价：</span>
        <br>
        <review-star score="{{totalscore}}" class="notifi-text assertive"></review-star>
      </div>
      <div class="stream-grid division-bottom">
        <div ng-repeat="feature in featureList track by $index" class="stream-grid-item">
          {{feature.feature}} {{feature.agree}}
        </div>
      </div>
      <div class="carvel-list">

        <div ng-repeat="review in reviewList" class="item item-left-img item-right-content">
          <img ng-src="{{review.avatar}}" alt="">
          <div>
            <p>{{review.name}}</p>
            <review-star score="{{review.score}}"></review-star>
            <p id="wrap-text">
              {{review.review}}
            </p>
            <p class="text-align-right margin-top-md">{{review.timestamp | date : 'yyyy-MM-dd hh:mm'}}</p>
          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
