<ion-view view-title="用户评价">

  <!-- <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
          <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons> -->

  <ion-content>

    <div class="content-wrapper normal-light">
      <div class="theme-title horizon-img-list text-align-center">
        <span class="text-large">总体评价：</span>
        <br>
        <review-star score="{{totalScore}}" class="notifi-text assertive"></review-star>
      </div>
      <div class="stream-grid division-bottom">
        <div ng-repeat="feature in featuresList track by $index" class="stream-grid-item">
          {{feature}}
        </div>
      </div>
      <div class="carvel-list">

        <div ng-repeat="review in reviewsList" class="item item-left-img item-right-content">
          <img ng-src="{{review.useravatar}}" alt="">
          <div>
            <p>{{review.username}}</p>
            <review-star score="{{review.usermark}}"></review-star>
            <p id="wrap-text">
              {{review.userreview}}
            </p>
            <p class="text-align-right margin-top-md">{{review.timestamp | date : 'yyyy-MM-dd hh:mm'}}</p>
          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
