<ion-view view-title="评论">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <div class="agree-feature-wrapper">
      <p>目前该活动的评价：</p>
      <div class="stream-grid division-bottom">
        <div ng-repeat="feature in featureList track by $index" class="stream-grid-item" ng-click="agreeFeature(feature.id)" ng-class="isAgree(feature.id) ? 'active' : ''">
          {{feature.feature}} {{feature.agree}}
        </div>
      </div>
    </div>

    <div class="add-feature-wrapper">
      <div class="add-feature-title flex-box">
        <p>还有更多评价？点击 + 来自定义标签</p>
        <span ng-click="addFeature()">+</span>
      </div>
      <div class="stream-grid division-bottom">
        <div ng-repeat="newFeature in newFeatureList track by $index" class="stream-grid-item fullblock">
          <input type="text" placeholder="输入特点" ng-model="newFeature.feature" class="newfeature">
          <span class="closenewfeature" ng-click="deleteFeature($index)"> X </span>
        </div>
      </div>
    </div>


    <div class="input-textarea">
      <textarea name="name" rows="8" cols="80" placeholder="活动过程如何，气氛活跃吗，举办方如何？（写多才是真的活动达人~）" ng-model="reviewInfo.review"></textarea>
      <p>
        还需<span>{{16 -reviewInfo.review.length >= 0 ? 16 -reviewInfo.review.length : 0}}</span>字,即可发表
      </p>
    </div>

    <div class="button-center-wrapper margin-top-md">
      <div class="button button-positive button-large" ng-click="submitReview()">发布</div>
    </div>

  </ion-content>

</ion-view>
