<ion-view>

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="nav-button-wrapper" nav-direction="forward" ng-click="">
      <button type="button" name="button" class="button button-clear button-light nav-button">完成</button>
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div search-waiting></div>

    <!-- <search-activity></search-activity> -->

    <!-- <search-stadium></search-stadium> -->

  </ion-content>

</ion-view>
