<ion-view view-title="已过期">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <ul class="carvel-list">
      <stadium-collection ng-repeat="stadium in stadiumList"></stadium-collection>
    </ul>

  </ion-content>

</ion-view>
