<ion-view view="查看详情">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>
    <ul class="social-list">

      <li class="social-item flex-box">
        <img src="{{socialcircle.avatar}}" alt="" class="social-avatar">
        <div class="social-content-wrapper">
          <div class="social-name-locate flex-box">
            <span>{{socialcircle.name}}</span>
            <span>{{socialcircle.locate}}</span>
          </div>

          <p class="social-publishtime">{{socialcircle.timestamp | date : 'HH:mm - yyyy年MM月dd日'}}</p>
          <p class="social-publishtext">
            {{socialcircle.publish}}
          </p>

          <div class="social-imglist flex-box">
            <img src="{{image.imgsrc}}" alt="" ng-repeat="image in socialcircle.images track by $index">
          </div>

          <div class="social-tools flex-box">
            <i class="icon icon-huifu icon-with-text icon-tool">
              <span>{{socialcircle.likecount}}</span>
            </i>
            <i class="icon icon-xihuan icon-with-text icon-tool" ng-class="isLike ? 'active' : ''">
              <span>{{socialcircle.commentcount}}</span>
            </i>
            <i class="icon icon-shenglve icon-with-text icon-tool"></i>
          </div>
        </div>
      </li>

    </ul>
  </ion-content>

  <div class="social-reply-inputwrapper">

  </div>

</ion-view>
