<li class="item">
  <a ng-href="">
    <img ng-src="{{activity.activitypost}}" alt="">
    <div class="item-content">
      <div>
        <span>{{activity.activityname}}</span>
        <span>{{activity.activityposition}}</span>
      </div>
      <p>{{activity.activityhost}}</p>
      <p>参加人数/总人数：<span>{{activity.activityattence}}/{{activity.activitymountpeople}}</span></p>
      <div>
        <span class="price">￥{{activity.activityprice}}</span>
        <span>{{activity.activitystarttime | date : 'yyyy-MM-dd'}}</span>
      </div>
    </div>
  </a>
</li>
