<li class="item">
  <a ng-href="">
    <div class="item-title">
      <span>{{activity.activityname}}</span>
      <span>{{activity.activitystatus}}</span>
    </div>
    <div class="item-content">
      <img ng-src="{{activity.activitypost}}" alt="">
      <div class="item-flexgrow">
        <p>报名时间：{{activity.activityregistertime | date : 'yyyy-MM-dd hh:mm'}}</p>
        <p>举行时间：{{activity.activitystarttime | date : 'yyyy-MM-dd hh:mm'}}</p>
        <p>{{activity.activityposition}}</p>
      </div>
    </div>
    <review-btn ng-show="activity.activitystatus === '已结束'"></review-btn>
  </a>
</li>
