<li class="item">
  <a ng-href="">
    <img ng-src="{{activity.thumbnail}}" alt="">
    <div class="item-content">
      <div>
        <span>{{activity.name}}</span>
        <span>{{activity.position}}</span>
      </div>
      <p>{{activity.host}}</p>
      <p>参加人数/总人数：<span>{{activity.currentnumber}}/{{activity.totalnumber}}</span></p>
      <div>
        <span class="price">￥{{activity.price}}</span>
        <span>{{activity.starttime | date : 'yyyy-MM-dd'}}</span>
      </div>
    </div>
  </a>
</li>
