<li class="item">
  <a ng-href="">
    <div class="item-title">
      <span>{{activity.name}}</span>
      <span ng-show="show_status">{{activity.status}}</span>
    </div>
    <div class="item-content">
      <img ng-src="{{activity.post}}" alt="">
      <div class="item-flexgrow">
        <p>报名时间：{{activity.registertime | date : 'yyyy-MM-dd hh:mm'}}</p>
        <p>举行时间：{{activity.starttime | date : 'yyyy-MM-dd hh:mm'}}</p>
        <p>{{activity.position}}</p>
      </div>
    </div>
    <review-btn ng-show="activity.status === '已结束'" iduser="{{activity.id_user}}" iditem="{{activity.id_activity}}" idtype="activity"></review-btn>
  </a>
</li>
