<!-- <div class="horizon-grid"> -->
<!-- <div>
    <label for="time">时间：</label>
    <select class="" name="time">
      <option value="3天内">3天内</option>
      <option value="一个星期内">一星期内</option>
      <option value="两星期内">两星期内</option>
      <option value="一个月内">一个月内</option>
      <option value="全部">全部</option>
    </select>
    <img ng-src="img/arrow-down.png" alt="">
  </div>
  <div class="division-line-left">
    <label for="price">价格：</label>
    <select class="" name="price">
      <option value="free">￥0</option>
      <option value="low">￥1~￥49</option>
      <option value="middle">￥50~￥149</option>
      <option value="high">￥150以上</option>
    </select>
    <img ng-src="img/arrow-down.png" alt="">
  </div>
</div> -->

<ul class="stream-list">
  <activity ng-repeat="activity in activityList"></activity>
</ul>
