<li class="item">
  <a>
    <img ng-src="img/skip-stadium.png" alt="">
    <div class="item-content">
      <div>
        <span class="text-main-notifi limit-text">{{equipment.name}}</span>
        <span class="text-aftermain">数量：{{equipment.remain}}</span>
      </div>
      <div>
        <span class="limit-text text-sub">器材：{{equipment.device}}</span>
      </div>
      <div><span class="limit-text">地质：{{equipment.geology}}</span></div>
      <div>
        <span class="limit-text">位置：{{equipment.position}}</span>
        <span class="price">价格：￥{{equipment.price}}</span>
      </div>
    </div>
  </a>
</li>
