<li class="item">
  <a ng-href="#/detail/stadium/book-select">
    <img ng-src="img/skip-stadium.png" alt="">
    <div class="item-content">
      <div>
        <span class="text-main-notifi limit-text">{{equipment.equipmentname}}</span>
        <span class="text-aftermain">数量：{{equipment.equipmentremain}}</span>
      </div>
      <div>
        <span class="limit-text text-sub">器材：{{equipment.equipmentdevice}}</span>
      </div>
      <div><span class="limit-text">地质：{{equipment.equipmentgeology}}</span></div>
      <div>
        <span class="limit-text">位置：{{equipment.equipmentposition}}</span>
        <span class="price">价格：￥{{equipment.equipmentprice}}</span>
      </div>
    </div>
  </a>
</li>
