<ion-view view-title="{{viewTitle}}">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo target="tab.activity"></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <img ng-src="{{iconStar}}" alt="" class="custom-nav-button-img" ng-click="addStar()">
    <img ng-src="{{iconRecommend}}" alt="" class="custom-nav-button-img" ng-click="addRecommend()">
  </ion-nav-buttons>

  <ion-content>
    <div class="img-wrapper img-with-float-text float-bottom" style="background-image: url({{activity.post}})">
      <div class="float-text-wrapper">
        <img ng-src="{{activity.hostavatar}}" alt="">
        <div class="float-text">
          <p>{{activity.name}}</p>
          <p>活动官网:{{activity.website}}</p>
        </div>
      </div>
    </div>

    <div class="text-with-rightblock space-between">
      <div>
        <p>举行时间：{{activity.starttime}}</p>
        <p>{{activity.position}}</p>
        <p class="assertive">￥{{activity.price}}</p>
      </div>
      <a>
        <button class="button button-positive" ng-click="attendActivity()">立即参加</button>
      </a>
    </div>

    <div class="content-wrapper margin-top-md">
      <div class="item item-divider">
        报名详情
      </div>
      <div class="item item-text-wrap">
        <p>报名日期：2016年01月06日 - 2016年03月01日</p>
        <p>报名人数：550/1000</p>
        <p>选手登记：在线登记</p>
        <p>是否分组：是</p>
        <p class="text-abvious">点击查看全部</p>
      </div>
    </div>

    <div class="content-wrapper margin-top-md">
      <div class="item item-divider">
        举办方
      </div>
      <div class="item text-with-rightblock space-between">
        <div class="item-text-main">
          <p>{{activity.host}}</p>
          <p>{{activity.hostaddress}}</p>
        </div>
        <a href="tel:{{activity.contact}}">
          <img src="img/call-maintheme.png" alt="" class="icon-custom">
        </a>
      </div>
    </div>

    <div class="content-wrapper margin-top-md">
      <div class="item item-divider">
        活动规程
      </div>
      <div class="item item-text-wrap">
        <div class="long-text">
          <div ng-repeat="regulartion in activity.regulartion track by $index">
            <pre>{{regulartion.order_id}}. {{regulartion.title}}</pre>
            <pre>{{regulartion.content}}</pre>
          </div>
        </div>
      </div>
    </div>

    <a ng-href="#/reviews" nav-direction="forward">
      <p class="text-abvious margin-top-md">
        点击查看评价
      </p>
    </a>

  </ion-content>
</ion-view>
