<ion-view view-title="{{viewTitle}}">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo target="tab.stadium"></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <img ng-src="{{iconStar}}" alt="" class="custom-nav-button-img" ng-click="addStar()">
    <img ng-src="{{iconRecommend}}" alt="" class="custom-nav-button-img" ng-click="addRecommend()">
  </ion-nav-buttons>

  <ion-content>

    <div class="img-wrapper img-with-float-text float-bottom" style="background-image: url({{stadium.post}})"></div>
    <a ng-href="">
      <div class="float-left-img with-right-text padding-roung-sm">
        <img ng-src="{{stadium.hostavatar}}" alt="" class="left-img">
        <div class="float-text">
          <p class="text-main-dark">{{stadium.name}}</p>
          <div class="">
            <review-star score="{{stadium.totalscore}}" class="notifi-text assertive"></review-star>
          </div>
          <p class="text-sub-gray">营业时间：{{stadium.opentime | date : 'yyyy-MM-dd HH:mm'}}</p>
        </div>
      </div>
    </a>

    <div class="item text-with-rightblock space-between">
      <div class="item-text-main with-left-img flexbox">
        <img ng-src="img/locate-icon-gray.png" alt="">
        <span>{{stadium.position}}</span>
      </div>
      <img ng-src="img/call-maintheme.png" alt="" class="icon-custom">
    </div>

    <div class="content-wrapper margin-top-md">
      <div class="item item-divider">
        场地预定
      </div>
      <ul class="list">
        <!-- <trade-detail ng-show="stadium.tradedetail !== ''"></trade-detail> -->
        <li class="item with-right-icon" ng-repeat="trade in stadium.tradedetail track by $index" ng-click="bookStadium(trade.id, trade.name)">
          <div>
            <p class="text-main-dark text-main-notifi">{{trade.name}}</p>
            <p class="text-sub-gray">{{trade.feature}}</p>
            <p class="assertive">{{trade.price}} ￥/小时</p>
          </div>
          <img ng-src="img/arrow-right-icon-gray.png" alt="" class="right-icon">
        </li>
      </ul>
    </div>

    <div class="content-wrapper margin-top-md">
      <div class="item item-divider">
        更多信息
      </div>
      <!-- <div class="item">
        <p>免费提供无线WIFI</p>
        <p>免费提供30个停车位</p>
        <p>可租购用具</p>
      </div> -->
      <more-info moreinfo="{{stadium.moreinfo}}"></more-info>
    </div>

    <a nav-direction="forward" ng-click="viewReview()">
      <p class="text-abvious margin-top-md">
        点击查看评价
      </p>
    </a>

  </ion-content>
</ion-view>
