<ion-view view-title="密码">
  <ion-content>

    <ul class="list">
      <li>
        <a class="item" href="#">
          <span class="item-note float-left">
              Sportmanid
          </span>
          <span class="password-spmid-wrapper">
            {{uil.sportmanid}}
          </span>

        </a>
      </li>
    </ul>

    <ul class="list">

      <li class="bgW">
        <label class="item item-input item-floating-label">
          <span class="input-label">密码</span>
          <input type="password" placeholder="请输入密码" ng-model="passwordModify.enterPW">
        </label>
      </li>

      <li class="bgW">
        <label class="item item-input item-floating-label">
          <span class="input-label">确认密码</span>
          <input type="password" placeholder="请再次输入密码" ng-model="passwordModify.confirmPW">
        </label>
      </li>

    </ul>

    <div class="account-security-password-submitbtn-wrapper">
      <div class="button button-outline button-assertive button-reset" ng-click="resetInput()">
        清空
      </div>
      <div class="button button-positive button-complete" ng-click="submitInput()">
        提交
      </div>
    </div>


  </ion-content>
</ion-view>
