<ion-view view-title="{{uil.um}}">
  <!-- <ion-nav-buttons  class="button back-button buttons button-clear header-item">
    <a class="button button-icon icon ion-ios-arrow-back" ng-click="toBackView()" style="padding: 0;"></a>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>
    <a ng-href="#/usr/detail/phone" nav-direction="forward">
      nextPage
    </a>
  </ion-content>
</ion-view>
