<ion-view view-title="设置">
  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/account-security" nav-direction="forward">
        <i class=""></i> 账号
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/notification" nav-direction="forward">
        <i class=""></i> 消息通知
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>
      <!-- <a class="item item-icon-right" ng-href="#/app/setting/privacy" nav-direction="forward">
        <i class=""></i> 隐私
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a> -->
      <a class="item item-icon-right" ng-href="#/app/setting/universal" nav-direction="forward">
        <i class=""></i> 通用
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

    <ul class="list">

      <a class="item item-icon-right" ng-href="#/app/setting/feedback" nav-direction="forward">
        <i class=""></i> 反馈
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ng-href="#/app/setting/about" nav-direction="forward">
        <i class=""></i> 关于
        <i class="icon ion-chevron-right ion-ajust-arrow-right"></i>
      </a>

    </ul>

    <div class="button-custom-wrapper">
      <button class="button button-assertive button-custom-size-large" ng-click="logout()">
        退出当前账户
      </button>
    </div>

  </ion-content>
</ion-view>
