<ion-view view-title="待举行">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <ul class="carvel-list">
      <activity-collection ng-repeat="activity in activityList"></activity-collection>
    </ul>

  </ion-content>

</ion-view>
