<ion-view view-title="已结束">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <ul class="carvel-list">
      <li class="item">
        <a ng-href="">
          <div class="item-title">
            <span>彩色跑跑跑跑跑跑</span>
            <span>已结束</span>
          </div>
          <div class="item-content">
            <img ng-src="img/colorrunning-icon.png" alt="">
            <div class="item-flexgrow">
              <p>报名时间：2015-11-18 15:31</p>
              <p>举行时间：2015-12-01</p>
              <p>广州市天河区珠江新城花城广场</p>
            </div>
          </div>
          <div class="button-right" ng-show="true">
            <button type="button" name="button" class="button button-outline button-positive" ng-click="review('{{info.type}}', {{info.id}})">评论</button>
          </div>
        </a>
      </li>
    </ul>

  </ion-content>

</ion-view>
