<ion-view view-title="预定场馆">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <div class="tab-block with-border-bottom text-align-center inside-left-img inside-right-text">
      <img ng-src="img/tabletennis-icon-dark.png" alt="">
      <span>{{equipmen_type}}</span>
    </div>

    <ul class="stream-list margin-top-border">

      <stadium-book ng-repeat="equipment in equipmentList track by $index"></stadium-book>

    </ul>

  </ion-content>

</ion-view>
