<ion-view view-title="选择预定信息">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>

    <div class="content-wrapper">
      <div class="item item-divider">
        预订数量
      </div>
      <li class="item item-icon-right rem-item-font with-block-absolute">
        选择数量
        <div class="pm-selector block-absolute right-block">
          <img ng-src="img/minus.png" alt="" ng-click="decSelectMount()">
          <span class="number" ng-click="openNumberDialog()">{{selectinfo.selectMount}}</span>
          <img ng-src="img/plus.png" alt="" ng-click="insSelectMount()">
        </div>
      </li>
    </div>

    <div class="content-wrapper">
      <div class="item item-divider">
        预定时间
      </div>
      <div class="item text-with-rightblock space-between">
        <p>开始时间</p>
      </div>
      <div class="item text-with-rightblock space-between">
        <p>结束时间</p>
      </div>
    </div>

    <div class="text-align-center">
      <button type="button" name="button" class="button button-positive margin-top-md button-large" ng-click="submitSelectInfo()">提交</button>
    </div>

  </ion-content>

</ion-view>
