<ion-view>

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-tabs class="tabs-striped tabs-top tabs-color-assertive absolute-top-header">

    <ion-tab title="待举行" href="#/my/collections-activity/coming">
      <ion-nav-view name="collections-activity-coming"></ion-nav-view>
    </ion-tab>

    <ion-tab title="审核中" href="#/my/collections-activity/investigating">
      <ion-nav-view name="collections-activity-investigating"></ion-nav-view>
    </ion-tab>

    <ion-tab title="已结束" href="#/my/collections-activity/finished">
      <ion-nav-view name="collections-activity-finished"></ion-nav-view>
    </ion-tab>

    <ion-tab title="全部" href="#/my/collections-activity/all">
      <ion-nav-view name="collections-activity-all"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
