<ion-view view-title="费用管理">

  <ion-content>

    <ion-tabs class="tabs-striped tabs-top tabs-color-assertive">

      <ion-tab title="待付款活动" href="#/my/payment/activity">
        <ion-nav-view name="payment-activity"></ion-nav-view>
      </ion-tab>

      <ion-tab title="待付款场馆" href="#/my/payment/stadium">
        <ion-nav-view name="payment-stadium"></ion-nav-view>
      </ion-tab>

      <ion-tab title="已付款" href="#/my/payment/paid">
        <ion-nav-view name="payment-paid"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-content>

</ion-view>
