<ion-view view-title="我的评价">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
          <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>


  <ion-content>

    <ion-tabs class="tabs-striped tabs-top tabs-color-assertive">

      <ion-tab title="未评价" href="#/my/review/unreview">
        <ion-nav-view name="unreview"></ion-nav-view>
      </ion-tab>

      <ion-tab title="已评价" href="#/my/review/reviewed">
        <ion-nav-view name="reviewed"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-content>

</ion-view>
