<ion-view view-title="完成报名">

  <ion-nav-buttons side="right">
    <a class="nav-button-wrapper" ng-click="toBackView('detail_activity')">
      <button type="button" name="button" class="button button-clear button-light nav-button">完成</button>
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div class="content-fix text-align-left content-notifi">
      <span class="assertive text-left">你已报名成功，请等待审核</span>
      <img ng-src="img/delete-gray.png" alt="" class="right-icon">
    </div>

  </ion-content>

</ion-view>
