<ion-view view-title="报名引导">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo></ion-navbuttonsgo>
    <!-- <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span> -->
  </ion-nav-buttons>

  <ion-content>
    报名引导
    <a href="#/registration/information" nav-direction="forward">填写报名信息</a>
  </ion-content>

</ion-view>
