<ion-view view-title="活动新闻">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>
    <ul class="list">
      <li class="card text-center padding-top-sm">
        <span class="card-title-time">
          2016-01-01
        </span>
        <a class="card-content-img margin-top-sm img-with-title">
          <img ng-src="img/tmp-activities_news-bg-big.png" alt="">
          <span>足球:春茧足球场青春杯已开启报名！</span>
        </a>
        <a class="item item-thumbnail-right item-title-left">
          <img ng-src="img/tmp-activities_news-bg-tumb.png">
          <p class="margin-top-md">大众健身暑期培训 抢先体验</p>
        </a>
        <a class="item item-thumbnail-right item-title-left">
          <img ng-src="img/tmp-activities_news-bg-tumb.png">
          <p class="margin-top-md">大众健身暑期培训 抢先体验</p>
        </a>
      </li>
    </ul>
  </ion-content>

</ion-view>
