<ion-view view-title="企业新闻">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
          <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>
    <ul class="list">
      <li class="card">
        <a>
          <div class="item item-avatar avatar-absolute-left">
            <img ng-src="img/tmp-companies_news-bg-tumb.png">
            <h2>Adidas</h2>
            <p>HOT:阿迪达斯最新款体育套装</p>
          </div>

          <div class="item item-image">
            <img ng-src="img/tmp-companies_news-bg-big.png">
          </div>

          <a class="item positive text-align-right icon-note-rem">
            <i class="icon ion-note"></i> 2016-01-01
          </a>

        </a>

      </li>
      <!-- <li class="card">
        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
          <img src="cover.jpg">
        </div>

      </li> -->

    </ul>
  </ion-content>
</ion-view>
