<ion-view view-title="待付款活动">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView('tab.my')"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <ul class="carvel-list">
      <li class="item">
        <a ng-href="">
          <div class="item-title">
            <span>TheLightRun——地球上最闪亮的夜跑球上最闪亮的</span>
            <span>待付款</span>
          </div>
          <div class="item-content">
            <img ng-src="img/running-icon.png" alt="">
            <div class="item-flexgrow">
              <p>报名时间：2016-01-18 20:17</p</p>
                <p>举行时间：2016-04-11</p>
                <p>广州市天河区珠江新城花城广场</p>
            </div>
          </div>
          <div class="button-right" ng-show="true">
            <button type="button" name="button" class="button button-outline button-positive">去付款</button>
          </div>
        </a>
      </li>
    </ul>

  </ion-content>

</ion-view>
