<ion-view view-title="已付款">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>
    <div class="carvel-list-ctrl ctrl-activity">
      <span>活动列表</span>
    </div>
    <ul class="carvel-list">
      <li class="item" ng-repeat="paidActivity in paidActivityList track by $index">
        <a>
          <div class="item-title">
            <span>{{paidActivity.name}}</span>
          </div>
          <div class="item-content">
            <img ng-src="{{paidActivity.thumbnail}}" alt="">
            <div class="item-flexgrow">
              <p>报名时间：{{paidActivity.registertime | date : 'yy-MM-dd hh:mm'}}</p>
              <p>举行时间：{{paidActivity.starttime | date : 'yy-MM-dd'}}</p>
              <p>{{paidActivity.position}}</p>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul class="carvel-list">
      <div class="carvel-list-ctrl ctrl-stadium">
        <span>场馆列表</span>
      </div>
      <li class="item" ng-repeat="paidStadium in paidStadiumList track by $index">
        <a>
          <div class="item-title">
            <span>{{paidStadium.name}}</span>
          </div>
          <div class="item-content">
            <img ng-src="{{paidStadium.thumbnail}}" alt="">
            <div class="item-flexgrow">
              <p>预定场地：{{paidStadium.quantity}}个</p>
              <p>时间：{{paidStadium.bookstarttime | date : 'yy-MM-dd hh:mm'}}起</p>
              <p>{{paidStadium.position}}</p>
            </div>
          </div>
        </a>
      </li>
    </ul>


  </ion-content>

</ion-view>
