<ion-view view-title="待付款场馆">

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-back button back-button buttons button-clear header-item" ng-click="toBackView()"></i>
    <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="default-title" style="line-height: 35px;">Back</span>
    </span>
  </ion-nav-buttons>

  <ion-content>

    <ul class="carvel-list">
      <li class="item" ng-repeat="paymentStadium in paymentStadiumList track by $index">
        <a>
          <div class="item-title">
            <span>{{paymentStadium.name}}</span>
          </div>
          <div class="item-content">
            <img ng-src="{{paymentStadium.thumbnail}}" alt="">
            <div class="item-flexgrow">
              <p>预定场地：{{paymentStadium.quantity}}个</p>
              <p>时间：{{paymentStadium.bookstarttime | date : 'yy-MM-dd hh:mm'}}起</p>
              <p>{{paymentStadium.position}}</p>
            </div>
          </div>
          <div class="button-right" ng-show="true">
            <button type="button" name="button" class="button button-outline button-positive">去付款</button>
          </div>
        </a>
      </li>
    </ul>

  </ion-content>

</ion-view>
