<ion-view view-title="搜索活动">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo target="tab.activity"></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-content>
    <div class="list list-no-margin">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input class="item-input-block" type="text" placeholder="活动" ng-model="searchInfo.key">
        </label>
        <button class="button search-button button-positive button-small" ng-click="search()">
          搜索
        </button>
      </div>
    </div>

    <div search-waiting ng-show="searchInfo.key === '' && activityList.length === 0"></div>
    <search-activity ng-show="activityList.length > 0"></search-activity>

  </ion-content>

</ion-view>
