<ion-view view-title="搜索活动">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo target="tab.activity"></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="nav-button-wrapper" nav-direction="forward" ng-click="">
      <button type="button" name="button" class="button button-clear button-light nav-button">完成</button>
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div search-waiting></div>

    <!-- <search-activity></search-activity> -->

    <!-- <search-stadium></search-stadium> -->

  </ion-content>

</ion-view>
