<ion-view view-title="搜索场馆">

  <ion-nav-buttons side="left">
    <ion-navbuttonsgo target="tab.stadium"></ion-navbuttonsgo>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="nav-button-wrapper" nav-direction="forward" ng-click="">
      <button type="button" name="button" class="button button-clear button-light nav-button">完成</button>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list list-no-margin">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input class="item-input-block" type="text" placeholder="场馆" ng-model="searchInfo.key">
        </label>
        <button class="button search-button button-positive button-small" ng-click="search()">
          搜索
        </button>
      </div>
    </div>

    <div search-waiting ng-show="searchInfo.key === '' && stadiumList.length === 0"></div>
    <search-stadium ng-show="stadiumList.length > 0"></search-stadium>

  </ion-content>

</ion-view>
