.float-left-img {
  background: #fff; }
  .float-left-img .left-img {
    width: .9rem; }
  .float-left-img .float-text {
    display: inline-block;
    padding-left: .2rem; }
  .float-left-img p {
    margin-bottom: .05rem; }

p.text-main-dark {
  font-size: .27rem;
  color: #232323; }

p.text-sub-gray {
  font-size: .23rem;
  color: #555; }

.padding-roung-sm {
  padding: .2rem; }

.tab-block {
  width: 100%;
  background: #fff;
  font-size: .24rem;
  padding: .2rem 0; }
  .tab-block.inside-left-img > img {
    max-width: .3rem;
    vertical-align: middle; }
  .tab-block.inside-right-text > span {
    vertical-align: middle; }

.with-border-bottom {
  border-bottom: 1px solid #fb8041; }

.pm-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-height: 50%; }
  .pm-selector > .number {
    display: inline-block;
    border-top: 1px solid #fb8041;
    border-bottom: 1px solid #fb8041;
    padding: .1rem; }
  .pm-selector > img {
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid #fb8041;
    max-width: .5rem;
    margin: 0 .1rem;
    padding: .1rem; }
