.my-content-wrapper {
  height: 100%;
}

.my-content-user-presentation {
  width: 100%;
  background: #FB8041;
}

.my-content-user-presentation a {
  display: block;
  width: 100%;
  height: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #CCC;
  color: white;
}

.my-content-user-presentation * {
  text-decoration: none;
}

.content-avatar {
  width: 1.12rem;
  height: 1.12rem;
  border-radius: 0.56rem;
  margin-left: 0.256rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.content-userinfo {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 16px;
  font-size: 0.272rem;
}

.content-userinfo-name {
  /*color: #333;*/
}

.content-userinfo-id {
  /*color: #454545;*/
  font-size: 0.24rem;
}

.more-arrow-right {
  width: 40px;
  height: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
  text-align: center;
}

.my-setting-img {
  width: 27px;
  height: 27px;
}


/*
控制我的页面顶部设置按钮位置
 */

.buttons.buttons-right {
  display: flex;
  align-items: center;
}

.buttons.buttons-right span {
  height: 27px;
}

.buttons.buttons-right a {
  height: 27px;
}


/*
活动，收藏，预约
 */

.my-content-user-collections {
  background: white;
  height: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-content-user-collections>div {
  flex-grow: 1;
  flex-basis: 30%;
  flex-shrink: 1;
  margin: 4px 0px;
}

.user-collections {
  height: .96rem;
  border-right: 1px solid #CCC;
  text-align: center;
}

.collections-collects {
  border-right: 0px;
}

.user-collections img {
  width: .544rem;
}

.user-collections>a {
  display: block;
  text-decoration: none;
  color: #232323;
}

.collections-title {
  text-align: center;
  font-size: 0.224rem;
}


/* 设置 */


/* 密码部分 */

.account-security-password-submitbtn-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.account-security-password-submitbtn-wrapper>div {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 10px;
  min-height: 12px;
  height: 40px;
  line-height: 40px;
}


/* 手机部分 */

.mobile-img-symbol-wapper {
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 36px 0 26px;
}

.mobile-img-symbol-wapper>img {
  height: 140px;
}

.bind-mobile-symbol-text {
  color: #252525;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}

.bind-mobile-symbol-subtext {
  color: #777;
  width: 80%;
  margin: 4px auto 12px;
}

.button-wrapper-margintop {
  margin-top: 16px;
}

.bindmobile-notice {
  width: 85%;
  margin: 12px auto;
  color: #666;
  line-height: 1.4;
}

.bindmobile-country {
  margin-left: 20px;
}

.validatemobile-notification-text {
  text-align: center;
  color: #676767;
  font-size: 17px;
  padding: 16px 0;
}

.validatemobile-submitbtn-wrapper {
  margin: 20px 0 12px;
  text-align: center;
}

.validatemobile-submitbtn-wrapper>button:nth-child(1) {
  width: 60%;
}

.validatemobile-submitbtn-wrapper>button:nth-child(2) {
  width: 14%;
  font-size: 14px;
  line-height: 1;
  margin: 0 10px;
}

.validatemobile-help-cantreceivecode-wrapper {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.changemobile-notification-text {
  text-align: center;
  color: #676767;
  font-size: 17px;
  padding: 16px 36px;
}


/* 邮箱部分 */

.updateemail-notification-text-hb {
  text-align: center;
  color: #1212AA;
  font-size: 15px;
  padding: 12px 14px 8px;
}

.updateemail-notification-text-hnb {
  color: #771212;
  text-align: center;
  font-size: .256rem;
  padding-top: .3rem;
}

.updateemail-notification-text {
  text-align: center;
  color: #676767;
  font-size: 15px;
  padding: 8px 14px;
  margin-bottom: 16px;
}


/* id部分 */

.updateid-notification-text {
  text-align: center;
  color: #676767;
  font-size: 15px;
  padding: 8px 14px;
  margin-bottom: 16px;
}


/* 通知部分 */

.tabs-top>.tabs,
.tabs.tabs-top {
  /*top: 0px !important;*/
}

.tab-item {
  max-width: 100%;
}


/*.scroll-content.ionic-scroll.has-tabs-top {
  top: 44px;
}*/

.card-title-time {
  line-height: 0.48rem;
  padding: 0 0.27rem;
  background: rgb(240, 240, 240);
  font-size: 0.256rem;
  border-radius: 0.064rem;
}

.text-align-center>span {
  display: inline-block;
}

.card-content-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

.card-content-img>img {
  float: left;
  width: 100%;
}

.img-with-title>span {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 2.0;
  color: white;
  font-size: 0.32rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.item-thumbnail-right,
.item-thumbnail-right .item-content {
  min-height: 1.28rem;
}

.item-thumbnail-right>img:first-child {
  max-height: 0.96rem;
  max-width: 0.96rem;
}

.text-align-right {
  text-align: right;
}

.bubble-list {
  width: 100%;
  padding: 20px 12px;
}

.bubble-item {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}

.bubble-item>img {
  max-width: 0.64rem;
  max-height: 0.64rem;
  border-radius: 20px;
  float: left;
}

.bubble-item>div {
  max-width: 80%;
  margin-left: 0.96rem;
  background: #fff;
  padding: 0.16rem;
  border-radius: 0.16rem;
  border: 1px solid rgba(100, 100, 100, 0.2);
}

.bubble-item>div p:nth-child(2) {
  font-size: 16px;
}

.bubble-item>div p:nth-child(3) {
  text-align: right;
  font-size: 16px;
}


/* 反馈部分 */

.textarea-wrapper {
  padding: 10px 0;
  height: 100%;
  text-align: center;
}

.textarea-wrapper>p {
  margin-left: 20px;
  line-height: 30px;
  font-size: 18px;
  color: #282828;
  text-align: left;
}

.textarea-wrapper>textarea {
  text-align: left;
  width: 100%;
  height: 60%;
  font-size: 18px;
  padding: 12px 16px;
}

.img-with-description {
  text-align: center;
  padding-top: 20px;
}

.img-with-description>img {
  margin: 12px 0 8px;
  max-width: 80px;
  max-height: 80px;
}

.img-with-description>p {
  text-align: center;
  font-size: 22px;
  color: red;
  line-height: 1.5;
}

.item-wrap-a>a {
  display: block;
  text-decoration: none;
  color: black;
}


/* 我的场馆 */

.carvel-list-ctrl {
  background: white;
  padding: .2rem .12rem;
  margin-top: .2rem;
  font-size: .288rem;
}

.carvel-list>.item>a {
  display: block;
  text-decoration: none;
}

.carvel-list>.item .item-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 4px auto;
  padding: 10px 4px 10px 2px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.8);
}

.carvel-list>.item .item-title-text {
  text-align: left;
  width: 90%;
  margin: 4px auto;
  padding: 5px 4px 5px 4px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.8);
  color: #333;
}

.carvel-list>.item .item-detail p {
  text-indent: 0.52rem;
  margin: 10px 0 5px;
  font-size: 0.256rem;
  color: #232323;
}

.item-title>span:nth-child(1) {
  font-size: 0.29rem;
  color: #232323;
  max-width: 80%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-title>span:nth-child(2) {
  color: red;
  font-size: 0.24rem;
}

.carvel-list>.item {
  padding: .128rem .064rem;
}

.carvel-list>.item .item-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 8px auto;
  padding: 4px;
}

.carvel-list>.item .item-content>img {
  max-width: 80px;
  max-height: 80px;
}

.carvel-list>.item .item-content>div.item-flexgrow {
  margin-left: 16px;
}

.item-flexgrow {
  flex-grow: 1;
  flex-shrink: 0;
}

.carvel-list>.item .item-content p {
  color: #333;
  font-size: 0.24rem;
}

.carvel-list>.item .button-right {
  text-align: right;
  border-top: 1px solid rgba(180, 180, 180, 0.8);
  padding-top: 12px;
  width: 90%;
  margin: 8px auto 4px;
}

.carvel-list>.item .button-right>.button {
  min-height: 0.576rem;
  height: 0.576rem;
  line-height: 0.576rem;
  font-size: 0.24rem;
}


/* 我的收藏 */

.stream-list>.item>a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  ;
  align-items: center;
}

.stream-list>.item>a>img {
  max-width: 2rem;
  max-height: 1.2rem;
  flex-grow: 0;
}

.stream-list>.item .item-content {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 0.224rem;
  font-size: 0.24rem;
}

.stream-list>.item .item-content p,
.stream-list>.item .item-content span {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #353535;
}

.stream-list>.item .item-content .limit-text {
  max-width: 2.52rem;
}

.stream-list>.item .item-content .price {
  color: red;
}

.stream-list>.item .item-content>div {
  display: flex;
  justify-content: space-between;
}

.stream-list>.item .item-content>div:nth-child(1)>span:nth-child(1) {
  max-width: 70%;
}

.ion-ajust-symbolsize>img {
  max-width: .352rem;
  margin-left: .08rem;
}

.content-topborder {
  border-top: 1px solid rgba(180, 180, 180, 0.7);
}

.item .item-content.mul-text p {
  white-space: pre-wrap;
}
